.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: $white;
    border-bottom: $color-grey-light-2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-smallest) {
        flex-wrap: wrap;
        height: 11rem;
        align-content: space-around;
    }
}

///////////////////////////
//USER NAVIGATION
.user-nav {
    align-self: stretch;
    display: flex;
    align-items: center;

    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }
    & > *:hover {
        background-color: $color-grey-light-2;
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: $color-grey-dark-2;
    }

    &__notification {
        background-color: $color-primary-light;
        color: $white;
        padding: 0.4rem;
        font-size: 0.8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 100%;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }

    &__user-name {
        font-weight: inherit;
    }
}
